* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Fira Sans', sans-serif;
    background-color: #b30505;
}

.header {
    width: 1100px;
    margin: auto;
    position: relative;
}

.header ul li a:hover {
    text-decoration: underline #ff2600;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: 'Bebas Neue', cursive;
    color: #ffffff;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #850101;
    z-index: 1;
    border-bottom:1px solid #ffffff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

a.stage-button {
    background: #ff2c10;
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px 200px 20px 200px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

a.stage-button_hide {
    background: #b9220e;
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px 200px 20px 200px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

a.stage-button:hover {
    background: #858176;
    text-decoration: none;
}

.stage {
    text-align: center;
    width: 100%;
    padding-top: 50px;
}

.tittle {
    font-family: 'Bebas Neue', cursive;
    font-weight: 800;
    font-size: 75px;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
    width: 100%;
    padding-top: 50px;
}

.img {
    width: 150px;
    margin: left;
}

.img img {
    float: left;
    width: 30%;
    border-radius: 10%;
    font-size: 50px;
    text-align: none;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
}

a.HTP {
    background: #686660;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.HTP:hover {
    background: #ff2c10;
    text-decoration: none;
}

a.level-button {
    background: #ff2c10;
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px 200px 20px 200px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

a.level-button:hover {
    background: #858176;
    text-decoration: none;
}

.level {
    float: left;
    width: 30%;
    border-radius: 10%;
    font-size: 50px;
    text-align: none;
    color: white;
    padding-top: 10px;
    padding-left: 30px;
}

a.level-buton {
    background: #ff2c10;
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px 195px 20px 195px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

a.level-buton:hover {
    background: #858176;
    text-decoration: none;
}

.level {
    float: left;
    width: 30%;
    border-radius: 10%;
    font-size: 50px;
    text-align: none;
    color: white;
    padding-top: 10px;
    padding-left: 30px;
}

h2 {
    font-family: 'Fira Sans', sans-serif;
    margin-left: 60px;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 5px;
    color: #ffffff;
    line-height: 50px;
    text-shadow: black;
}

.photos {
    padding-left: 10cm;
    margin-top: 5px;
}

.answer {
    width: 30%;
    text-align: center;
    padding: 13px 100px;
    border-radius: 20px;
    outline: none;
    border: none;
    color: white;
    background-color: #970606;
    margin-bottom: 15px;
    transition: .5s;
}

a.submit {
    background: #970606;
    border-radius: 20px;
    margin-top: 20px;
    margin: 10px;
    padding: 12px 20px 12px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.submit:hover {
    background: #690404;
    text-decoration: none;
}
